SUPPORT_PHONE=8976478247
SUPPORT_WHATSAPP=8976478247
SUPPORT_EMAIL=info@3hdmedia.com
SUPPORT_WEBSITE=www.3hdmedia.com
OFFICE_ADDRESS=3HD Media\n54, mamta 'A' Wing A.M Marg\nPrabhadevi Mumbai : 400025
API_BASE_URL=http://192.168.0.100:5000/api/v1
APP_NAME=Naukari Bazaar
APP_VERSION=1.0.0
