PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/naukari-bazaar?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkeyfornaukaribazaar
JWT_REFRESH_SECRET=supersecretjwtrefreshkeyfornaukaribazaar
SUPPORT_PHONE=8976478247
SUPPORT_WHATSAPP=8976478247
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
APP_NAME=Naukari Bazaar
